@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.btn {
  cursor: pointer;
  min-width: 110px;
  padding: 5px 10px;
  border: none;
  border-radius: $radius;
  background: linear-gradient($blue-400, $blue-500);
  outline: none;
  font-family: inherit;

  &:focus:not(:active) {
    @include focus-shadow(rgba($blue-400, 0.5))
  }

  &:hover {
    background: linear-gradient($blue-350, $blue-450);
  }

  &:active {
    background: linear-gradient($blue-425, $blue-550);
  }

  &:disabled {
    background: $gray-500;
  }

  &.btn--loading {
    color: red;
  }

  .btn__title {
    color: $white;
    line-height: $line-height-30;
    font-size: $font-size-16;
    font-weight: 500;
  }
}
