@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.btn-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  background: none;
  font-family: inherit;
  padding: 0;
  outline: none;


  .btn-icon__title {
    font-size: $font-size-16;
    margin-right: 8px;
  }

  .btn-icon__image {

  }

  &:hover {
    color: $blue-500;
  }

  &:focus {
    @include focus-shadow(rgba($blue-500, 0.5));
    color: $blue-500;

    // padding: 4px;
  }
}
