.separator {
  cursor: ew-resize;
  display: inherit;
  padding: 0 3px;
  background-image: url('../../../../../assets/images/icons/dots.svg');
  background-repeat: no-repeat;
  background-position: center;
}
