@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.input-row {
  display: flex;
  flex-direction: column;

  &.input-row--error {

    .input-row__title {
      color: $red-500;
    }
    .input-row__input {
      box-shadow: 0px 0px 5px rgba($red-500, 0.5);
      border-color: $red-500;
    }
  }

  .input-row__title {
    display: block;
    margin-bottom: 5px;

    &.input-row__title--optional::after {
      content: 'Опционально';
      float: right;
      color: $gray-600;
      font-size: $font-size-12;
    }
  }

  .input-row__input {
    padding: 5px 10px;
    font-size: $font-size-18;
    line-height: $line-height-30;
    border: 1px solid $gray-450;
    border-radius: $radius-5;
    outline: none;

    &:focus {
      @include focus-shadow(rgba($black, 0.2));
      border-color: rgba($black, 0.4);
    }

    &:hover {
      border-color: rgba($black, 0.4);
    }
  }
}
