@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.history {
  @include border-b;

  display: flex;
  justify-content: space-between;

  .history-list {
    padding: 10px 0 10px 15px;
  }

  .btn-icon {
    position: relative;
    padding: 10px 15px;

    &::before {
      content: '';
      pointer-events: none;
      position: absolute;
      left: -15px;
      bottom: 0;
      top: 0;
      width: 15px;
      background: linear-gradient(to right, rgba($white, 0), rgba($gray-400, 1) 90%);
      border-right: 1px solid rgba($black, 0.2);
    }
  }
}
