// @import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.history {
  @include border-b;

  display: flex;
  justify-content: space-between;
  padding: 10px 15px;

  .btn-icon {
    position: relative;
    padding-left: 17px;

    &::before {
      content: '';
      pointer-events: none;
      position: absolute;
      left: -15px;
      bottom: 0;
      top: 0;
      width: 15px;
      background: linear-gradient(to right, rgba($white, 0), rgba($gray-400, 1) 90%);
    }
  }
}
