@import '../../../../../assets/styles/variables';

.history-track {
  cursor: default;
  white-space: nowrap;
  background: $white;
  box-shadow: 0px 1px 2px rgba($black, 0.1);
  border-radius: $radius;
  padding: 5px 0 5px 10px ;

  .history-track__title {
    &::before {
      content: '';
      display: inline-block;
      margin-right: 5px;
      width: 10px;
      height: 10px;
      border: 1px solid;
      border-radius: 50%;
    }

    &.success::before {
      background-color: $green-500;
      border-color: $green-600;
    }
    &.failure::before {
      background-color: $red-500;
      border-color: $red-600;
    }
  }

  .history-track__action {
    cursor: pointer;
    padding: 0 10px;
    width: 4px;
    height: 18px;
    background-image: url('../../../../../assets/images/icons/dots.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    border: none;
    vertical-align: text-top;
  }
}
