// @import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.query {
  @include border-b;

  display: flex;
  flex: 1;
  padding: 10px 15px 15px;

  .separator {
    flex: unset;
  }
  .query-input {
    flex: 1;
  }
}
