// TODO: somehow move @imports => @use
// Colors
$white: #FFFFFF;

$gray-400: #F7F7F7;
$gray-500: #C4C4C4;
$gray-600: #999999;

$blue-400: #45A6FF;
$blue-500: #0055FB;

// Other
$radius-5: 5px;

$font-size-16: 16px;
$font-size-24: 24px;

$line-height-20: 16px;

$margin-20: 20px;
