// TODO: somehow move @imports => @use
// Colors
$white: #FFFFFF;
$black: #000000;
$black-900: #0D0D0D;

$gray-400: #F6F6F6;
$gray-425: #dfdfdf;
$gray-450: #CCCCCC;
$gray-500: #C4C4C4;
$gray-600: #999999;

$blue-350: #61b2ff;
$blue-400: #45A6FF;
$blue-450: #276ffc;
$blue-500: #0055FB;
$blue-550: #0049d6;

$red-500: #CF2C00;
$red-600: #A62300;

$green-500: #30B800;
$green-600: #269300;

// TODO:
$blue-425: #3b8cd9;

// Other
$radius: 5px;

$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;

$line-height-18: 18px;
$line-height-20: 20px;
$line-height-30: 30px;

$margin-20: 20px;
